//npm.corp.coupons.com:4873/:_authToken="/hGzUp79tdVnk8ngoKfK3nPlNu0xqTz0JhjA9TJc66o="
registry=https://artifactory.corp.coupons.com/artifactory/api/npm/npm-n2rebuild-release/
regist=
config=registry
color=false
home=https://www.npmjs.org
